<!DOCTYPE html>
<html>
<head>
  <title>View Attendance</title>
   <link rel="stylesheet" href="/style.css" />
    <style>
    table {
      width: 80%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    table, th, td {
      border: 1px solid #ccc;
    }
    th, td {
      padding: 10px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
  
</head>
<body>
  <h2>View Attendance</h2>
 <label >Select a Date:</label>
  <input type="date" id="datePicker" />
  <button onclick="loadAttendance()">View</button>
  <table >
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody id="tableBody"></tbody>
  </table>

  <br/>
  <a href="/dashboard">Back to Dashboard</a>

  <script>
   function loadAttendance() {
    const date = document.getElementById("datePicker").value;
    const url = date
      ? `/attendance/data?date=${date}`
      : `/attendance/data`;

    fetch(url)
      .then(res => res.json())
      .then(data => {
          console.log("Attendance data:", data); // DEBUG
        const body = document.getElementById("tableBody");
        body.innerHTML = "";

        if (data.length === 0) {
          body.innerHTML = `
            <tr>
              <td colspan="3">No records found</td>
            </tr>
          `;
          return;
        }

        data.forEach(r => {
          const row = document.createElement("tr");

          row.innerHTML = `
            <td>${r.studentName}</td>
            <td>${r.status}</td>
            <td>${new Date(r.date).toLocaleDateString()}</td>
          `;

          body.appendChild(row);
        });
      })
      .catch(err => console.error(err));
  }

  // Load on page load
  window.onload = loadAttendance;
        
  </script>
</body>
</html>
